
<body>
    <header>

        <div class="top-header">
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <div class="header-social-icons">
                <a href="https://www.instagram.com" class="icon-link-header"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com" class="icon-link-header"><i class="fab fa-facebook-square"></i></a>
            </div>
            <a class="logo-img" href="/" style="text-decoration: none;">
                <img src="/img/logo.jpg" alt="logo">
            </a>
            <a href="/" style="text-decoration: none;">
                <h1>CASA MALEWO</h1>
            </a>
            <div class="carrito">
                <a href="/compras">
                    <i class="fas fa-shopping-bag"></i>
                </a>
            </div>
           
        </div>
        <div class="inicio-sesion">
            <ul class="login-ul">
                <li>
                    <i class="far fa-user-circle header-icon"></i>
                    <a href="/login"> INICIAR SESIÓN</a>
                </li>
                <li>
                    <a href="/compras"><i class="fas fa-shopping-bag header-icon"></i></a>
                </li>>
            </ul>
        </div>
        <div class="barra">
            
                <ul class="nav-ul">
                    <li>
                        <a href="/" class="a-inicio">INICIO</a>
                    </li>
                    <li>
                        <a href="/products">PRODUCTOS</a>
                    </li>
                    <li>
                        <a href="/info">¿QUIENES SOMOS?</a>
                    </li>
                    <li>
                        <a href="/blog">BLOG</a>
                    </li>
                </ul>
           
        </div>
    </header>