<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-compras.css">
    <link rel="stylesheet" href="/css/styles.css ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Poppins:wght@300;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <title>MALEWO || Home</title>
</head>

<body>
    <header>

        <div class="top-header">
            <div class="header-social-icons">
                <a href="https://www.instagram.com" class="icon-link-header"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com" class="icon-link-header"><i class="fab fa-facebook-square"></i></a>
            </div>
            <a class="logo-img" href="/" style="text-decoration: none;">
                <img src="img\logo.jpg" alt="logo">
            </a>
            <a href="/" style="text-decoration: none;">
                <h1>CASA MALEWO</h1>
            </a>
            <div class="carrito">
                <a href="/compras">
                    <i class="fas fa-shopping-bag"></i>
                </a>
            </div>
            <div class="burger">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div class="inicio-sesion">
            <ul class="login-ul">
                <li>
                    <i class="far fa-user-circle header-icon"></i>
                    <a href="/login"> INICIAR SESIÓN</a>
                </li>
                <li>
                    <a href="/compras"><i class="fas fa-shopping-bag header-icon"></i></a>
                </li>>
            </ul>
        </div>
        <div class="barra">
            <nav>
                <ul class="nav-ul">
                    <li>
                        <a href="/" class="a-inicio">INICIO</a>
                    </li>
                    <li>
                        <a href="/products">PRODUCTOS</a>
                    </li>
                    <li>
                        <a href="/info">¿QUIENES SOMOS?</a>
                    </li>
                    <li>
                        <a href="/blog">BLOG</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main style="margin-top: 95px;">

        <section class="titulo">
            <h2 class="title-line">MI COMPRA </h2>
        </section>
        <section class="lista-compras">
        <h2 class="title-line-grey"></h2>
        <section class="compra">
            <div class="producto">
                <div class="product-name-icon">
                    <div class="item-carro">
                        <img src="img\productos\8.jpg" alt="">
                        <p>MACETA TRAIDA DEL TIBET</p>
                        <h4>MACETA TRAIDA DEL TIBET</h4>
                    </div>
                    

                    <div class="titles-box">
                        
                        <div class="precio-cantidad">
                            <div class="precio-unitario">
                            <p>PRECIO UNITARIO</p>
                            <p class="precioU" style="margin-bottom: 15px;">$1.500</p>
                            </div>
                            <div class="cantidad">
                            <p>CANTIDAD</p>
                            <i class="fas fa-minus-circle"></i>
                            <input type="number" name="quantity[595099420]" data-item-id="595099420" value="1"
                            class="js-cart-quantity-input cart-item-input form-control">
                            <i class="fas fa-plus-circle"></i>

                        </div>
    
                        </div>
                    </div>
                    <div class="cross">
                        <i id="cross" class="fas fa-times"></i>
                    </div>
                </div>
                
            </div>
            
            <h2 class="title-line-grey"></h2>
            <section class="shop-box">
                <div class="resumen">
                    <div class="resumen-de-compras">
                        <h3>RESUMEN DE COMPRA</h3>
                        <section class="titulo" style="padding-top: 0px;">
                            <h2 class="title-line"></h2>
                        </section>
                        <div class="suma-productos">
                            <div class="totales">
                                <p>subtotal</p>
                                <p>$1.500,00</p>
                            </div>
                            <div class="totales" style="margin-bottom: 53px;">
                                <p style="font-weight: bold;">TOTAL</p>
                                <p>$1.500,00</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="finalizar">
                    <h3>FINALIZAR COMPRA </h3>
                </div>
            </section>
        </section>
        <h2 class="title-line-grey" style="position: relative;bottom: 82px;"></h2>

    </section>
    </main>



    <footer>
        <section>
            <div class="style-bar2"></div>
        </section>
        <section class="footer-icons">
            <div>
                <a href="https://www.instagram.com" class="icon-link-footer"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com" class="icon-link-footer"><i class="fab fa-facebook-square"></i></a>
            </div>
        </section>
        <section class="footer-info">
            <div class="casa-malewo">
                <h4>CASA MALEWO</h4>
                <ul class="footer-list">
                    <li>productos</li>
                    <li>nosotros</li>
                    <li>blog</li>
                </ul>
            </div>
            <div class="contacto">
                <h4 class="contact-header">CONTACTO</h4>
                <ul class="footer-list">
                    <li><i class="fas fa-phone-alt"> </i> 4855 7679</li>
                    <li><i class="fab fa-whatsapp"> </i> +54 115896 3652</li>
                    <li><i class="far fa-envelope"> </i> info@casamalewo.com</li>
                </ul>
            </div>
        </section>
        <section>
            <p>todos los derechos reservados MALEWO® 2021</p>
        </section>
    </footer>
</body>

</html>