<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css ">
    <link rel="stylesheet" href="/css/styles-compras.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Poppins:wght@300;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>MALEWO || Compras</title>

</head>

<body>

    <header>

        <div class="top-header">
            <div class="header-social-icons">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-square"></i>
            </div>
            <img src="img\logo.jpg" alt="logo">
            <h1>CASA MALEWO</h1>
            <div class="carrito">
                <i class="fas fa-shopping-bag"></i>
            </div>
            <div class="burger">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div class="inicio-sesion">
            <ul class="login-ul">
                <li>
                    <i class="far fa-user-circle header-icon"></i>
                    <a href="/login"> INICIAR SESIÓN</a>
                </li>
                <li>
                    <i class="fas fa-shopping-bag header-icon"></i>
                </li>>
            </ul>
        </div>
        <div class="barra">
            <nav>
                <ul class="nav-ul">
                    <li>
                        <a href="/" class="a-inicio">INICIO</a>
                    </li>
                    <li>
                        <a href="/products">PRODUCTOS</a>
                    </li>
                    <li>
                        <a href="/info">¿QUIENES SOMOS?</a>
                    </li>
                    <li>
                        <a href="/blog">BLOG</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="main-title">
            <h3 class="create-account">MI COMPRA</h3>
            <div class="style-bar1"></div>
        </section>

        <section class="contenedor">
            <article class="producto-compra">
                <img class="foto-producto-compra" src="img/interior/Screenshot_10.png" alt="foto-producto-compra">
                <p class="nombre-producto">NOMBRE DEL PRODICTO</p>
            </article>

            <div>
                <p class="precio-unitario">PRECIO UNITARIO</p>
                <p class="precio">$2300</p>
            </div>
            <div>
                <p class="cantidad">CANTIDAD</p>
                <p class="cantidadU">1</p>
            </div>

            <section>
                <div class="resumen-compra">
                    <p>RESUMEN DE COMPRA</p>
                    <div class="style-bar1"></div>
                    <div>
                        <P class="subtotal">SUBTOTAL</P>
                        <p class="subtotal-numero">$2300</p>
                    </div>
                    <div>
                        <P class="total">TOTAL</P>
                        <p class="total-numero">$2300</p>
                    </div>
                </div>
                <button class="finalizar-compra">FINALIZAR COMPRA</button>
            </section>
        </section>



    </main>
    <footer>
        <section>
            <div class="style-bar2"></div>
        </section>
        <section class="footer-icons">
            <div>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-square"></i>
            </div>
        </section>
        <section class="footer-info">
            <div class="casa-malewo">
                <h4>CASA MALEWO</h4>
                <ul class="footer-list">
                    <li>productos</li>
                    <li>nosotros</li>
                    <li>blog</li>
                </ul>
            </div>
            <div class="contacto">
                <h4 class="contact-header">CONTACTO</h4>
                <ul class="footer-list">
                    <li><i class="fas fa-phone-alt"> </i> 4855 7679</li>
                    <li><i class="fab fa-whatsapp"> </i> +54 115896 3652</li>
                    <li><i class="far fa-envelope"> </i> info@casamalewo.com</li>
                </ul>
            </div>
        </section>
    </footer>
</body>

</html>