<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>MALEWO || Home.</title>
</head>
<body>
    <header>
        <div class="top-header">
            <img src="img\logo.png" alt="logo">
            <h1>CASA MALEWO</h1>
            
            <div class="carrito">
                <i class="fas fa-shopping-bag"></i>
            </div>
            <div class="burger">
                <i class="fas fa-bars"></i>
            </div>
            
      
        </div>
        <div class="inicio-sesion">
            
            <ul>
                <li>INICIAR SESIÓN</li>
                <li>
                    <i class="fas fa-shopping-bag"></i></li>>
            </ul>

        </div>
        
        <div class="barra">
        <nav>
            <ul>
                <li>INICIO</li>
                <li>PRODUCTOS   </li>
                <li>¿QUIENES SOMOS?</li>
                <li>BLOG</li>
            </ul>
        </nav>
        </div>
        
    </header>
    
</body>
</html>