<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>MALEWO || Home.</title>
</head>
<body>
    <header>
        <div class="top-header">
            <img src="img\logo.jpg" alt="logo">
            <h1>CASA MALEWO</h1>
            
            <div class="carrito">
                <i class="fas fa-shopping-bag"></i>
            </div>
            <div class="burger">
                <i class="fas fa-bars"></i>
            </div>
            
      
        </div>
        <div class="inicio-sesion">
            
            <ul>
                <li>INICIAR SESIÓN</li>
                <li>
                    <i class="fas fa-shopping-bag"></i></li>>
            </ul>

        </div>
        
        <div class="barra">
        <nav>
            <ul>
                <li>INICIO</li>
                <li>PRODUCTOS   </li>
                <li>¿QUIENES SOMOS?</li>
                <li>BLOG</li>
            </ul>
        </nav>
        </div>
    
        
    </header>
    <section class="slider">
        <div class="boton-izq">
            <i class="fas fa-arrow-circle-left"></i>
        </div>
        <img src="img\img-home\slide-1626226883766-2870749949-6cd167443e459e68f3a17842adf194e61626226913-1024-1024.jpg"  alt="slider">
        <div class="boton-derecho">
            <i class="fas fa-arrow-circle-right"></i>
        </div>
    </section>
    <main>
        <section class="productos-disponibles">
            <article>
                <img src="img\img-home\Screenshot_20.png" alt="maceta1"> 
                <div class="borra-espacio">
                    <p>INTERIOR</p>
                </div>
            </article>
            <article>           
                <img src="img\img-home\macetas-de-exterior-de-diseno.jpg" alt="maceta2">
                <div class="borra-espacio">
                    <p>EXTERIOR</p>
                </div>
            </article>
            <article>
                <img src="img\img-home\Screenshot_15.png" alt="">
                <div class="borra-espacio">
                <p>ACCESORIOS</p>
                </div>
            </article>       
        </section>
        <section class="destacados">

            <h2>DESTACADOS</h2>
            <article>
                <img src="img\img-home\Screenshot_20.png" alt="maceta1"> 
                <div class="borra-espacio">
                    <p>INTERIOR</p>
                </div>
            </article>
        
        </section>

    </main>
    <footer>
        <div class="casa-malewo">
        <h3>CASA MALEWO</h3>
        <ul>
            <li>productos</li>
            <li>nosotros</li>
            <li>blog</li>
        </ul>
        </div>
        <div class="contacto">
        <h3>CONTACTO</h3>
        <ul>
            <li><i class="fas fa-phone-alt"> </i> 4855 7679</li>
            <li><i class="fab fa-whatsapp"> </i> +54 115896 3652</li>
            <li><i class="far fa-envelope"> </i> info@casamalewo.com</li>
        </ul>
        </div>
    </footer>
</body>
</html>