<%- include('./partials/head-index') %>
<%- include('./partials/header') %> 
    <section class="slider">
        <div class="boton-izq">
            <i class="fas fa-arrow-circle-left"></i>
        </div>
        <img src="img\img-home\slide-1626226883766-2870749949-6cd167443e459e68f3a17842adf194e61626226913-1024-1024.jpg"
            alt="slider">
        <div class="boton-derecho">
            <i class="fas fa-arrow-circle-right"></i>
        </div>
    </section>
    <main>
        <section class="productos-disponibles">
            <!-- <article class="a1"> -->
            <article>
                <img src="img\img-home\Screenshot_20.png" alt="maceta1">



                <p class="p1">INTERIOR</p>
            </article>
            <article>
                <!-- <article class="a2"> -->
                <img src="img\img-home\macetas-de-exterior-de-diseno.jpg" alt="maceta2">
                <p class="p2">EXTERIOR</p>
            </article>
            <article>
                <!-- <article class="a3"> -->
                <img src="img\accesorios\Screenshot_15.png" alt="">
                <p class="p3">ACCESORIOS</p>
            </article>
        </section>
        <section class="titulo">
            <h2 class="title-line">DESTACADOS </h2>
        </section>

        <section class="destacados">
            <!-- <h2>DESTACADOS </h2> -->

            <article>
                <img src="img\img-home\Screenshot_20.png" alt="maceta1">
                <p>INTERIOR</p>
            </article>
            <article>
                <img src="img\img-home\Screenshot_20.png" alt="maceta1">
                <p>INTERIOR</p>
            </article>
            <article>
                <img src="img\img-home\Screenshot_20.png" alt="maceta1">
                <p>INTERIOR</p>
            </article>

        </section>

    </main>
<%- include('./partials/footer') %> 
    <script src="../js/prueba.js"></script>

</body>

</html>