<%- include('./partials/head', { title:'Login', hojaCss:'styles-login'}) %>
<%- include('./partials/header') %>
    <main>
        <section class="main-title">
            <h3 class="create-account">Iniciar sesión</h3>
            <div class="style-bar1"></div>
        </section>
        <section class="form-section">
            <form action="/login/" method="POST" enctype="multipart/form-data" class="form">
                <label for="email" >Email</label>
                <input type="email" name="email" id="email">
                <label for="password">Password</label>
                <input type="password" name="password" id="pasw">

                <a href="/retrieve-Acount" >¿Has olvidado tu contraseña?</a>
                <a href="/register" >Registrarse</a>
                <button type="submit" >Iniciar Sesión</button>
            </form>
        </section>
    </main>
<%- include('./partials/footer') %> 
    <script src="../js/prueba.js"></script>
</body>
</html>