<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-product-detail.css ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Poppins:wght@300;700&display=swap"  rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Product</title>
</head>
<body>
    <header>
        <div class="header-social-icons">
            <a href="https://www.instagram.com" class="icon-link-header"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com" class="icon-link-header"><i class="fab fa-facebook-square"></i></a>
        </div>
        <div class="top-header">
            <a class="logo-img" href="/" style="text-decoration: none;">
                <img src="img\logo.jpg" alt="logo">
                </a>
            <a href="/" style="text-decoration: none;">
                <h1>CASA MALEWO</h1>
            </a>
            <div class="carrito">
            
                <a href="/compras">
                    <i class="fas fa-shopping-bag"></i>
                </a>
            </div>
            <div class="burger">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div class="inicio-sesion">
            <ul class="login-ul">
                <li> 
                    <i class="far fa-user-circle header-icon"></i> 
                    <a href="/login"> INICIAR SESIÓN</a>
                </li>
                <li>
                    <a href="/compras"><i class="fas fa-shopping-bag header-icon"></i></a>
                </li>>
            </ul>
        </div>
        <div class="barra">
            <nav>
                <ul class="nav-ul">
                    <li>
                        <a href="/" class="a-inicio">INICIO</a>
                    </li>
                    <li>
                        <a href="/products">PRODUCTOS</a> 
                    </li>
                    <li>
                        <a href="/info">¿QUIENES SOMOS?</a>
                    </li>
                    <li>
                        <a href="/blog">BLOG</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="main-section">
            <article class="support-img">
                <img src="img/interior/maseta-para-interior-redondas.jpg" alt="support-img" class="support-img-ind">
                <img src="img/interior/maseta-para-interior-redondas.jpg" alt="support-img" class="support-img-ind">
            </article>
            <article class="main-img-article">
                <img src="img/interior/maseta-para-interior-redondas.jpg" alt="main-img" class="main-img">
            </article>
            <article class="info-buy-article">
                <div>
                    <h3>Nombre del producto</h3>
                    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, obcaecati? Necessitatibus hic magni beatae ullam quasi inventore, labore, harum consectetur quibusdam itaque error quae eaque?
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, beatae tempora tenetur eligendi ipsam vel animi. Eum voluptatem nam quae accusamus totam ab natus asperiores, debitis voluptas aspernatur earum praesentium!
                    </p>
                    <p class="price">$0.00</p>
                </div>
                <div>
                    <form>
                        <div class="quantity">
                            <label>Cantidad</label>
                            <select name="quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <button type="submit">COMPRAR</button>
                    </form>
                </div>
            </article>
        </section>
        <section class="secondary-section">
            <div>
                <h3 class="offers">Destacados / Ofertas</h3>
            </div>
            <div class="img-offer">
                <img src="img/interior/Screenshot_1.png" alt="img-alt" class="img">
                <img src="img/interior/Screenshot_9.png" alt="img-alt" class="img">
                <img src="img/interior/Screenshot_10.png" alt="img-alt" class="img">
                <img src="img/interior/Screenshot_17.png" alt="img-alt" class="img">
            </div>
        </section>
    </main>
    <footer>
        <section>
            <div class="style-bar2"></div>
        </section>
        <section class="footer-icons">
            <div>
                <a href="https://www.instagram.com" class="icon-link-footer"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com" class="icon-link-footer"><i class="fab fa-facebook-square"></i></a>
            </div>
        </section>
        <section class="footer-info">
            <div class="casa-malewo">
                <h4>CASA MALEWO</h4>
                <ul class="footer-list">
                    <li>productos</li>
                    <li>nosotros</li>
                    <li>blog</li>
                </ul>
            </div>
            <div class="contacto">
                <h4 class="contact-header">CONTACTO</h4>
                <ul class="footer-list">
                    <li><i class="fas fa-phone-alt"> </i> 4855 7679</li>
                    <li><i class="fab fa-whatsapp"> </i> +54 115896 3652</li>
                    <li><i class="far fa-envelope"> </i> info@casamalewo.com</li>
                </ul>
            </div>
        </section>
        <section>
            <p>todos los derechos reservados MALEWO® 2021</p>
        </section>
    </footer>
</body>
</html>