<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css ">
    <link rel="stylesheet" href="/css/styles-products.css ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Poppins:wght@300;700&display=swap"  rel="stylesheet">
    <title>MALEWO || Products</title>
</head>

<body>
    <header>

        <div class="top-header">
            <div class="header-social-icons">
                <a href="https://www.instagram.com" class="icon-link-header"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com" class="icon-link-header"><i class="fab fa-facebook-square"></i></a>
            </div> 
            <a class="logo-img" href="/" style="text-decoration: none;">
                <img src="img\logo.jpg" alt="logo">
                </a>
            <a href="/" style="text-decoration: none;">
                <h1>CASA MALEWO</h1>
            </a>
            <div class="carrito">
                <a href="/compras">
                    <i class="fas fa-shopping-bag"></i>
                </a>
            </div>
            <div class="burger">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div class="inicio-sesion">
            <ul class="login-ul">
                <li>
                    <i class="far fa-user-circle header-icon"></i>
                    <a href="/login"> INICIAR SESIÓN</a>
                </li>
                <li>
                    <a href="/compras"><i class="fas fa-shopping-bag header-icon"></i></a>
                </li>>
            </ul>
        </div>
        <div class="barra">
            <nav>
                <ul class="nav-ul">
                    <li>
                        <a href="/" class="a-inicio">INICIO</a>
                    </li>
                    <li>
                        <a href="/products">PRODUCTOS</a>
                    </li>
                    <li>
                        <a href="/info">¿QUIENES SOMOS?</a>
                    </li>
                    <li>
                        <a href="/blog">BLOG</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        
        <section class="titulo">
            <h2 class="title-line">PRODUCTOS </h2>
        </section>
        
        <div class="filtros">
            <p></i>Filtros </p> <img src="/img/filter.png" alt="">
        </div>
        
        <section class="buscador">
                
    
            <input type="search" name="busquedamusica" placeholder="buscar productos">
            <i class="fas fa-search" style="color: grey;"></i>        
            <!-- <input type="submit" value="Buscar"> -->
        
        </section>
        <section class="catalogo">
            <div class="lista-filtros">
                <h2 class="title-line-grey"></h2>
                <ul>
                    <li> 
                        <a href="*">MACETAS DE INTERIOR</a><i class="fas fa-plus"></i>
                    </li>
                    <li> <a href="*"> MACETAS DE EXTERIOR</a><i class="fas fa-plus"></i>
                    </li>
                    <li style="margin-top: 7px;"><a href="*"> ACCESORIOS </a><i class="fas fa-plus" style="align-self: flex-end;"></i>
                    

                    </li>
                </ul>
                <h2 class="title-line-grey"></h2>
                <ul>
                    <li> <a href="*">COLOR</a> <i class="fas fa-plus"></i>
                    </li>
                </ul>
                <h2 class="title-line-grey"></h2>
                <ul>
                    <li><a href="*"> FILTRAR POR PRECIO</a><i class="fas fa-plus"></i>
                    </li>
                </ul>

            </div>
            <div class="lista-de-productos">
                <article>
                    <img src="img\productos\1.jpg" alt="maceta1">
                    <p>MACETA 1</p>
                </article>
                <article>
                    <img src="img\productos\2.png" alt="maceta1">
                    <p>MACETA 2</p>
                </article>
                <article>
                    <img src="img\productos\3.jpg" alt="maceta1">
                    <p>MACETA 3</p>
                </article>
                <article>
                    <img src="img\productos\4.png" alt="maceta1">
                    <p>MACETA 4</p>
                </article>
                <article>
                    <img src="img\productos\5.jpg" alt="maceta1">
                    <p>MACETA 5</p>
                </article>
                <article>
                    <img src="img\productos\6.jpg" alt="maceta1">
                    <p>MACETA 6</p>
                </article>
                <article>
                    <img src="img\productos\7.jpg" alt="maceta1">
                    <p>MACETA 7</p>
                </article>
                <article>
                    <img src="img\productos\8.jpg" alt="maceta1">
                    <p>MACETA 8</p>
                </article>
                <article>
                    <img src="img\productos\9.jpg" alt="maceta1">
                    <p>MACETA 9</p>
                </article>

            </div>
        </section>

    </main>
    
    <footer>
        <section>
            <div class="style-bar2"></div>
        </section>
        <section class="footer-icons">
            <div>
                <a href="https://www.instagram.com" class="icon-link-footer"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com" class="icon-link-footer"><i class="fab fa-facebook-square"></i></a>
            </div>
        </section>
        <section class="footer-info">
            <div class="casa-malewo">
                <h4>CASA MALEWO</h4>
                <ul class="footer-list">
                    <li>productos</li>
                    <li>nosotros</li>
                    <li>blog</li>
                </ul>
            </div>
            <div class="contacto">
                <h4 class="contact-header">CONTACTO</h4>
                <ul class="footer-list">
                    <li><i class="fas fa-phone-alt"> </i> 4855 7679</li>
                    <li><i class="fab fa-whatsapp"> </i> +54 115896 3652</li>
                    <li><i class="far fa-envelope"> </i> info@casamalewo.com</li>
                </ul>
            </div>
        </section>
        <section>
            <p>todos los derechos reservados MALEWO® 2021</p>
        </section>
    </footer>

</body>