*{
    box-sizing: border-box;
    margin: 0;
    
}
li {
    font-family: 'Poppins', sans-serif; 
}

h1{
    font-family: 'Antonio', sans-serif;
    color: white;
    text-align: center;
    position: relative;
    top: 0px;
    font-size: 39px;
}

p{
    font-family: 'Poppins', sans-serif; 
}

h2, h3, h4{
    font-family: 'Poppins', sans-serif; 
}

header{
    background-color: black;
    width: 100%;
    padding-bottom: 20px;
    position: fixed;
    z-index: 1;
    top: 0;
    position: fixed;
}

.header-social-icons{
    display: none;
    justify-content: flex-end;
    right: 20px;
    position: absolute;
    top: 0px
    
}

header .header-social-icons i {
    color: #FFFFFF;
    margin-left: 7px;
    margin-top: 7px;
    font-size: 1rem;
}

.fa-facebook-square {
    margin-left: 10px;
}

header div.top-header{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .top-header img{
    display: none;
    padding: 5px;
    width: 80px;
    position:absolute;
    left: 1%;
    top:10px;
}

header div.top-header div.carrito{
    align-self: center;       
    position: relative; 
}

header div.top-header .carrito i{
    font-size: 14px;
    color: white;
    padding: 0px 9px;
    position: relative;
    top: 10px;
}

header div.top-header div.burger{
    order: -1;
    padding: 5px 10px;
    align-self: flex-end;
}

header div.top-header div.burger i{
    color: white;
    font-size: 1rem;
    
}

.inicio-sesion ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 100;
    font-size: 0.8rem;
}

.inicio-sesion ul li {
    margin-right: 10px;
}

.header-icon {
    font-size: 1rem;
}

.fa-user-circle {
    margin-right: 5px;
    margin-top: 2px;
}

nav{
    display: none;
    justify-content: center;
    position: relative;
    top: 14px;
}

header ul{
    display: flex;
    flex-wrap: wrap;

}

div.barra nav ul li a{
    font-size: 1rem;
    margin-left: 30px;
    margin-top: 0px;
    font-weight: 100;
    color: #FFFFFF;
    text-decoration: none;
}

.a-inicio {
    margin-left: 0px !important;
}

.nav-ul {
    padding-left: 0px;
}

header li {
    font-size: 0.5rem;
    color: white;
    font-family: 'Poppins', sans-serif; 
    display: flex;
    margin-left: 5px;
}

.barra-links{
    align-self: center;
    justify-content: center;
}

.inicio-sesion{
    display: none;
    position: absolute;
    top: 0 px;
    right: 10px;
}

.login-ul {
    padding-left: 0px;
}

.slider{
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 95px;

    
}
.slider img{
    width: 100%;
}
.boton-izq{
    position: relative;
    left: 2px;
}
.boton-derecho {
position: relative;
right: 18px;
}
.slider i{
    position: absolute;
    color: wheat;
    opacity: 85%;
}
.productos-disponibles img{
    width: 100%;
}
.productos-disponibles {
    display: flex;
    flex-wrap: wrap;
}
.productos-disponibles article{
    padding: 20px;
    position: relative;
}
.destacados article{
    padding: 20px;
    position: relative;
}
.destacados {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.destacados img{
    width: 100%;
}
.titulo{
    padding: 5%;
}
.title-line{
    overflow: hidden;
}
.title-line:after{
    content:'';
    display:inline-block;
    width:100%; height:100%;
    margin-right:-100%;
    border-bottom:1px solid #000;
}



.productos-disponibles p{
    text-align: center;
    background-color: rgb(233, 227, 227);
    position: relative;
    bottom: 4px;  
    border-bottom: gray solid 4px;
}
/* .productos-disponibles .a1 .p1{
    opacity: 0;
    transition: all 450ms;
}

.productos-disponibles .a1:hover .p1{
    opacity: 70%;
}
.productos-disponibles .a2 .p2{
    opacity: 0;
    
    transition: all 450ms;
}

.productos-disponibles .a2:hover .p2{
    opacity: 70%;
}
.productos-disponibles .a3 .p3{
    opacity: 0;
    
    transition: all 450ms;
}

.productos-disponibles .a3:hover .p3{
    opacity: 70%;
} */
.destacados p{
    text-align: center;
    background-color: rgb(233, 227, 227);
    position: relative;
    bottom: 4px;
    /* transition: all 450ms; */
    /* opacity: 0; */
    border-bottom: gray solid 4px;
}
/* .destacados article:hover p{
    opacity: 70%;


} */
article img {
    transition: box-shadow 450ms;
}
article:hover img{
    box-shadow: 0px 0px 10px rgb(100 100 100);
}



footer {
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    margin-bottom: 20px;
    justify-content: center
}

.style-bar2 {
    height: 1px;
    background: black;
    margin-right: 10%;
    margin-left: 10%;
}

.footer-icons {
    align-self: flex-end;
    margin-right: 12%;
    margin-top: 5px;
}

.footer-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.footer-list {
    color: #8B8D8A;
    list-style-type: none;
    padding-left: 5px;
}

.contact-header {
    display: inline-block;
}

.contacto {
    margin-left: 20px;
}

.casa-malewo {
    margin-left: 10%;
}


@media(min-width: 542px){
    nav{
        display: flex;

    }
    .header-social-icons{
        display: flex;
    }
    header div.top-header{
        justify-content: center;
        padding: 0;
    }
    header div.top-header div.burger{
        display: none;
    }
    header div.top-header img{
        display: flex;
        
        
    }
    
    .slider {
        padding: 40px 10% 0 10%;
    }
    h1{
        align-self: flex-start;

    }
    header div.top-header div.carrito  {display: none;
    }
    .inicio-sesion{
        display: flex;
    }
    .productos-disponibles{
        flex-wrap: nowrap;
        padding: 0 10%;
    }
    .destacados {
        display: flex;
        justify-content: center;
        padding: 0 10%
    }
    .destacados article{
        
        width: 33%;
        
    }
}

@media (min-width: 1000px) {
    .style-bar2 {
        margin-left: 12%;
        margin-right: 12%;
    }
    .footer-icons {
        margin-right: 12.5%;
    }
    .contacto {
        margin-left: 10%;
    }
    
    .casa-malewo {
        margin-left: 14%;
    }
}

