 .foto-producto-compra {
    width: 80px;
    height: 80px;
    margin-left: 20%;
}
.producto-compra {
    display: flex;
    width: 40%;
    height: fit-content;
    border: 1px solid black;
}
.resumen-compra {
    background-color: #DADDD9;
    width: 180px;
    margin-right: 20%;
}



.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
main{
    margin-top: 95px;
}
.main-title {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}
.style-bar1 {
    height: 1px;
    background: black;
    display: inline-block;
    width: 54%;
    margin-top: 20px;
    margin-left: 5px;
}

button {
    margin-top: 30px;

    height: 30px;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    align-self: center;
}

 .precio, .cantidadU {
text-align: center;
font-size: 12px;
 }

 .subtotal , .total {
     font-size: 12px;
     font-weight: bold;

 }

 .subtotal-numero , .total-numero {
     font-size: 10px;
     font-weight: bolder;
 }