*{
    box-sizing: border-box;
    margin: 0;
    
}
h1{
    font-family: 'Antonio', sans-serif;
    color: white;
    text-align: center;

}
p{
    font-family: 'Poppins', sans-serif; 
}



h2,h3{
    font-family: 'Poppins', sans-serif; 
}


header{
    background-color: black;
    position: fixed;
    z-index: 100;
    width: 100%;
    top:0


    
    
}
header div.top-header{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    
}
header div.top-header img{
    display: none;
    padding: 5px 0px 5px 0px;
    width: 80px;
    position:absolute;
    left: 0px;
    top:0px

}
header div.top-header div.carrito{
    align-self: flex-start;        
}
header div.top-header .carrito i{
    font-size: 14px;
    color: white;
    padding: 10px;
    

}


header div.top-header div.burger{
    order: -1;
    padding: 10px;
}
header div.top-header div.burger i{
    color: white;
    font-size: 1rem;
    
}

nav{
    display: none;
    justify-content: center;
}
header ul{
    display: flex;
    flex-wrap: wrap;

}
div.barra nav ul li{
    font-size: 0.7rem;
    margin-left: 15px;
    margin-top: 0px;
}
header li {
    font-size: 0.5rem;
    color: white;
    font-family: 'Poppins', sans-serif; 
    display: flex;
    margin-left: 5px;}
.barra-links{
    align-self: center;
    justify-content: center;
}

.inicio-sesion{
    display: none;
    position: absolute;
    top: 0 px;
    right: 10px;
}
.slider{
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 41px;
    
}
.slider img{
    width: 100%;
}
.boton-derecho {
position: absolute;
right: 18px;
}
.slider i{
    position: absolute;
}
.productos-disponibles img{
    width: 100%;
}
.productos-disponibles {
    display: flex;
    flex-wrap: wrap;
}
.productos-disponibles article{
    padding: 20px;
    position: relative;
}
.destacados article{
    padding: 20px;
    position: relative;
}
.destacados {
    display: flex;
    flex-wrap: wrap;
}
.destacados img{
    width: 100%;
}

.productos-disponibles p{
    text-align: center;
    background-color: rgb(233, 227, 227);
    position: relative;
    bottom:33px;    
    border-bottom: gray solid 4px;
}
.productos-disponibles .a1 .p1{
    opacity: 0;
    transition: all 450ms;
}

.productos-disponibles .a1:hover .p1{
    opacity: 70%;
}
.productos-disponibles .a2 .p2{
    opacity: 0;
    
    transition: all 450ms;
}

.productos-disponibles .a2:hover .p2{
    opacity: 70%;
}
.productos-disponibles .a3 .p3{
    opacity: 0;
    
    transition: all 450ms;
}

.productos-disponibles .a3:hover .p3{
    opacity: 70%;
}
.destacados p{
    text-align: center;
    background-color: rgb(233, 227, 227);
    
    border-bottom: gray solid 4px;
}
footer ul{
    list-style-type: none;
}

footer li{
    color: gray;
    font-size: 1rem;
    

}   
footer{
    font-family: 'Poppins', sans-serif; 
}


@media(min-width: 400px){
    nav{
        display: flex;

    }
    header div.top-header{
        justify-content: center;
        padding: 15px;
    }
    header div.top-header div.burger{
        display: none;
    }
    header div.top-header img{
        display: flex;
        
        
    }
    .slider{
        margin-top: 88px;    }
    h1{
        align-self: flex-start;

    }
    header div.top-header div.carrito  {display: none;
    }
    .inicio-sesion{
        display: flex;
    }


}